<div class="attendance-header">
  <div class="attendance-content">
    <img src="./assets/img/icons/hand01.svg" class="hand-img" alt="img" />
    <h3>Good Morning, <span>John Smilga</span></h3>
  </div>
  <div>
    <ul class="table-top-head employe">
      <li>
        <a data-bs-toggle="tooltip" data-bs-placement="top" matTooltip="Pdf" matTooltipPosition="above"><img
            src="assets/img/icons/pdf.svg" alt="img"></a>
      </li>
      <li>
        <a data-bs-toggle="tooltip" data-bs-placement="top" matTooltip="Excel" matTooltipPosition="above"><img
            src="assets/img/icons/excel.svg" alt="img"></a>
      </li>
      <li>
        <a (click)="loadData()" data-bs-toggle="tooltip" data-bs-placement="top" matTooltip="Refresh"
          matTooltipPosition="above" title="Refresh"><i class="ti ti-refresh"></i></a>
      </li>
      <li>
        <a (click)="toggleCollapse()" [class.active]="isCollapsed" data-bs-toggle="tooltip" data-bs-placement="top"
          title="Collapse" matTooltip="Collapse" matTooltipPosition="above" id="collapse-header"> @if (!isCollapsed) {
          <i class="ti ti-chevron-up"></i>
          }
          @if (isCollapsed) {
          <i class="ti ti-chevron-up"></i>
          }</a>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-xl-4 col-lg-12 d-flex">
    <div class="card w-100 border-0">
      <div class="card-body">
        <h5 class="mb-3 pb-3 border-bottom d-flex justify-content-between align-items-center fs-18">Attendance<span
            class="text-purple fs-14">{{ today | date:'dd MMM yyyy' }}</span></h5>
        <div class="d-flex align-items-center mb-3">
          <div class="me-2">
            <img src="./assets/img/icons/time-big.svg" alt="time-img">
          </div>
          <div>
            <h2>{{ time$ | async | date:'HH:mm:ss' }}</h2>

            <p>Current Time</p>
          </div>
        </div>
        <div *ngIf="!(isClockedIn && isClockedOut)"class="d-flex align-items-center">
          <a (click)="isClockedIn ? clockOutForToday() : clockInForToday()" href="javascript:void(0);" class="btn btn-primary w-100 me-2">
            {{ isClockedIn ? 'Clock Out' : 'Clock In' }}
          </a>
        </div>

        <div *ngIf="isClockedIn && isClockedOut" class="d-flex align-items-center">
          <a class="btn btn-primary w-100 me-2">
            Done For Today
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-8 col-lg-12 d-flex">
    <div class="card w-100 border-0">
      <div class="card-body">
        <h5 class="border-bottom pb-3 mb-3">Days Overview This Month</h5>
        <div class="row gy-3">
          <div class="col-lg-2 col-md-3 col-sm-4 text-center">
            <div>
              <span
                class="d-flex align-items-center justify-content-center avatar avatar-xl bg-primary-transparent fw-bold fs-20 mb-2 mx-auto">31</span>
              <p class="fs-14">Total Working <br> Days</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4 text-center">
            <div>
              <span
                class="d-flex align-items-center justify-content-center avatar avatar-xl bg-danger-transparent fw-bold fs-20 mb-2 mx-auto">05</span>
              <p class="fs-14">Abesent <br>Days</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4 text-center">
            <div>
              <span
                class="d-flex align-items-center justify-content-center avatar avatar-xl bg-purple-transparent text-purple fw-bold fs-20 mb-2 mx-auto">28</span>
              <p class="fs-14">Present <br>Days</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4 text-center">
            <div>
              <span
                class="d-flex align-items-center justify-content-center avatar avatar-xl bg-warning-transparent fw-bold fs-20 mb-2 mx-auto">02</span>
              <p class="fs-14">Half<br> Days</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4 text-center">
            <div>
              <span
                class="d-flex align-items-center justify-content-center avatar avatar-xl bg-cyan-transparent text-cyan fw-bold fs-20 mb-2 mx-auto">01</span>
              <p class="fs-14">Late <br>Days</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4 text-center">
            <div>
              <span
                class="d-flex align-items-center justify-content-center avatar avatar-xl bg-success-transparent text-success fw-bold fs-20 mb-2 mx-auto">02</span>
              <p class="fs-14">Holidays</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- /attendance list -->
<div class="card table-list-card">
  
  <div class="card-body pb-0">
    <div class="table-responsive">
      <table class="table datanew" (matSortChange)="sortData($event)" matSort matSortActive="Sno" matSortDirection="asc"
        matSortDisableClear>
        <thead class="thead-light">
          <tr>
            <th mat-sort-header="date">Date</th>
            <th mat-sort-header="status">Status</th>
            <th mat-sort-header="clockin">Clock In</th>
            <th mat-sort-header="clockout">Clock Out</th>
            <th>Total Hours</th>
          </tr>
        </thead>
        <tbody>
          @for (data of tableData; track data; let i = $index) {
          <tr>
            <td>{{ data.createdDate | date: 'dd MMM yyyy' }}</td>
            <td>
              <span class="badge  d-inline-flex align-items-center badge-xs" [ngClass]="{
                'badge-success': data.status === 'PRESENT',
                'bg-danger': data.status === 'ABSENT',
                'badge-purple ': data.status === 'HOLIDAY'
              }"><i class="ti ti-point-filled me-1"></i>{{ data.status }}</span>
            </td>
            <td>{{ data.clockInTime | date:'hh:mm a' }}</td>
            <td>{{ data.clockOutTime | date:'hh:mm a' }}</td>
            <td>{{ formatTotalHours(data.totalHours) }}</td>
          </tr>
          }
        </tbody>
      </table>

    </div>
    <app-custom-pagination></app-custom-pagination>
  </div>
</div>